src/main/mule/entapi-cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="325fcf44-ea17-4f08-a615-3582fef9e7a1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="entapi-cicd-helloFlow" doc:id="2b6f6cea-b853-4e0a-8d39-1fa10a7f82a6" >
		<http:listener doc:name="Listener" doc:id="19fa4154-5b45-4d92-a537-2a481c618c1b" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Start Log" doc:id="a11971f7-8d73-4585-9927-9b8b70bd1c05" message='#["Start - " ++ flow.name]'/>
		<ee:transform doc:name="Transform Message" doc:id="8ffe675c-72b6-4d0c-9af8-8183dfbd4375" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Welcome to mule " ++ (attributes.queryParams.fname as String default "" ++ " " ++ attributes.queryParams.lname as String default "")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="7fa035a1-3d69-49b8-9344-2479688a9377" message='#["End Log - " ++ flow.name]'/>
	</flow>
</mule>
